<!DOCTYPE html>
<html>
  <head>
    <title>RecipeBox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class=" body">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <div class="container">
            <%= link_to "RECIPE BOX", root_path, class:'h4 recipe-box' %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button> 
            
            <% if user_signed_in? %>
              <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav navbar-light ml-auto h1">
                  <li class="nav-item active">
                      <%= link_to "New Recipe", new_recipe_path, class: "navbar-brand" %>
                  </li>
                  <li class="nav-item">
                      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "navbar-brand" %>
                  </li>
                </ul>
              </div>
            <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign Up", new_user_registration_path, class: "navbar-brand" %></li>
        <li><%= link_to "Sign In", new_user_session_path, class: "navbar-brand" %></li>
      </ul>
    <% end %>
         </div>
        </nav>

<div class="">
  <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class:"alert container text-success h4 mt-5" %>
<% end %>
</div>
<br><br>
    <div class="container">   
        <%= yield %>
    </div>
  </body>
</html>
